body {
    font-family: "Poppins", sans-serif;
    background: url('/img/illustration.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 32px;
    text-shadow: 1px 1px 1px #a5a5a5;
    margin: 10px;
}

table {
    width: 80%;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #09054c;
    color: #fcfcfc;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

tr:nth-child(even),
tr:nth-child(odd) {
    background-color: #cbcbda;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: calc(100% - 22px);
    height: 100px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    background-color: #000982;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #09054c;
}

select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.logout-button {
    background-color: #000982;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.logout-button:hover {
    background-color: #09054c;
}