/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    background-color:#ededed ;
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 40%;
}

/* Encabezados */
h1 {
    color: #4b0082;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    text-shadow: 1px 1px 1px #ccc;
}

/* Enlaces */
a {
    text-decoration: none;
    color: #fbf9fc;
    display: inline-block;
    padding: 10px 20px;
    background-color: #6a5acd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

a:hover {
    background-color: #30054c;
}

/* Botones */
button, .button {
    display: inline-block;
    background: #800080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

button:last-child, .button:last-child {
    margin-right: 0;
}

button:hover, .button:hover {
    background: #6a5acd;
}

/* Formularios */
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
}

th {
    background-color: #4b0082;
    color: #fff;
}

td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Tarjetas */
.card {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Mensajes de Error */
.error-msg {
    background: #8b0000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Mensajes de Éxito */
.success-msg {
    background: #556b2f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Pie de Página */
footer {
    background: #4b0082;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
