/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Generales */
body {
    font-family: "Poppins", sans-serif;
    background: url('/img/illustration.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

.container {
    text-align: center;
    scale: 100%;
    margin: 0px;
    overflow: hidden ;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px; /* Se aplica a los cuatro lados */
    background-color: #fcfdff;
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px; /* Ajusta el espaciado */
    flex-direction: row;
    align-items: center;
}


.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

/* Encabezados */
h1{
    color: #282626;
    text-align: center;
    align-items: center;
    font-size: 32px;
    text-shadow: 1px 1px 1px #a5a5a5;
    margin: 10px;
}

title{
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 32px;
    text-shadow: 1px 1px 1px #ffffff;
    margin: 10px;
}

p{
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 32px;
    text-shadow: 1px 1px 1px #ffffff;
    margin: 10px;
}

/* Enlaces */
a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: auto; 
    height: auto; 
    padding: 10px 20px;
    background-color: #000982;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin: 10px;
  
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.60);
    flex-direction: row;
}

a:hover {
    background-color: #09054c;
}

/* Botones */
button, .button {
    text-decoration: none;
    display: inline-block;
    background: #000982;
    color: #fff;
    border: none;
    width: 107px; 
    height: 45px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s ease;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.60);
    margin: 10px;
    font-size:17px;
}

button:last-child, .button:last-child {
    margin-right: 0;
}

button:hover, .button:hover {
    background: #09054c;
}

/* Formularios */
input[type="text"],
input[type="email"],
select,
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

/* Estilos para la tabla */
table {
    width: 80%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: 20%;
    margin-left: 20%;
    
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #000982;
    color: #fff;
}


tr:nth-child(even) {
    background-color: #cbcbda;
}tr:nth-child(odd) {
    background-color: #cbcbda;
}


tr:hover {
    background-color: #ddd;
}

/* Tarjetas */
.card {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Mensajes de Error */
.error-msg {
    background: #8b0000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Mensajes de Éxito */
.success-msg {
    background: #556b2f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Pie de Página */
footer {
    background: #4b0082;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*align-items: center;*/
    scale: 80%;
    align-items: center;
}